<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>time</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>mag</th>
      <th>net</th>
      <th>id</th>
      <th>place</th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2000.0</td>
      <td>12.3238</td>
      <td>123.8662</td>
      <td>6.1</td>
      <td>us</td>
      <td>us6000jp76</td>
      <td>10 km NNE of Miaga, Philippines</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2000</td>
      <td>12.3238</td>
      <td>123.8662</td>
      <td>6.1</td>
      <td>us</td>
      <td>us6000jp76</td>
      <td>10 km NNE of Miaga, Philippines</td>
    </tr>
  </tbody>
</table>